body{
    background-color: #100E17 !important;
}

#pagina-principal{
    margin-top: 50px;
}
#pagina-principal .logo{
    border: 10px solid #E52E71;
    border-radius: 100%;
    padding: 30px;
    width: 50px;
    height: 50px;
}

#pagina-principal .logo h1{
    color: #fafafa;
    font-size: 23px;
    margin: -14px 0px 0px -22px;
}

#pagina-principal .modulos-cards{
    margin-top: 50px;
}

#pagina-principal .modulos-cards .cards-custom{
    padding: 30px;
    background-color: transparent;
    height: 330px;
}

#pagina-principal .modulos-cards .cards-custom .id-card{
    border-radius: 50%;
    width: 45px;
    height: 45px;
    padding: 3px;
    text-align: center;
}
#pagina-principal .modulos-cards .cards-custom .id-card h1{
    font-size: 28px;
    color: #fafafa;
}

#pagina-principal .modulos-cards .cards-custom .titulo-card{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
    color: #fafafa;
}

#pagina-principal .modulos-cards .conteudo{
    margin-top: 20px;
}

#pagina-principal .modulos-cards .conteudo a{
    font-size: 21px;
    color: #fafafa;
    text-decoration: none;
}